--- linux-orig/arch/arm/mach-omap2/Kconfig	2012-09-21 09:52:48.547686117 +0200
+++ linux-cwt/arch/arm/mach-omap2/Kconfig	2012-10-10 14:19:13.325773794 +0200
@@ -337,6 +337,11 @@ config MACH_AM335XEVM
 	depends on SOC_OMAPAM33XX
 	default y
 
+config AM335XEVM_UART
+	bool "AM335X Evaluation Module set pinmux for all UARTs"
+	depends on MACH_AM335XEVM
+	default n
+
 config MACH_AM335XIAEVM
 	bool "AM335X IA Evaluation Module"
 	depends on SOC_OMAPAM33XX
